<div class="container" style="margin: 16px;">
  <button class="btn btn-primary" routerLink="/blog">Add Blog</button>
</div>
<hr/>
<div class="container">
    <h3>All Blogs</h3>
<hr/>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs">
        <th scope="row">{{blog.blogId}}</th>
        <td>{{blog.blogImage}}</td>
        <td>{{blog.blogTitle}}</td>
        <td>{{blog.blogCreated}}</td>
        <td>
            <button class="btn btn-warning" routerLink="/blog/{{blog.blogId}}">Edit</button>
        </td>
        <td>
        <button class="btn btn-danger" (click)="deleteBlog(blog.blogId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>